/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	width: 900px;
	margin: 0 auto;
	line-height: 1;
}
ol, ul {
	list-style-position:inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* 
 * **************************
 * Index.html styles below 
 * **************************
*/


/* Header Styles */
header {
	display:flex;
	justify-content:space-between;
}
nav {
	width:70%;
	padding:25px;
	display:flex;
}
nav a {
	text-align:center;
	color:grey;
	text-decoration:none;
	width:16%;
}


/* Section one styles */
.one {
	padding:30px;
	display:flex;
	justify-content:space-between;
}
.innovate {
	text-align:center;
	margin:15px;
}
.innovate h1 {
	font-size:75px;
}
button {
	padding:10px 55px 10px 55px;
}


/* Section two styles */
.two{
	border-top: 1px solid black;
	display:flex;
	width:100%;
	padding:20px;
}


/* Section three styles */
.three{
	display:flex;
	border-bottom:1px solid black;
	padding:20px;
}

/* Footer styles */
footer {
	padding-top:20px;
}
address p{
	margin-bottom:20px;
}
#copyright {
	text-align:center;
}


/* 
 * **************************
 * Services.html styles below 
 * **************************
*/


/* Header section styles */
header .service-nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:10px;
	margin-bottom:10px;
}
/* .service-nav div{
	display:flex;
	justify-content:space-between;
	align-items:center;
} */


/* Services section styles */
.services-header-img{
	width:100%
}
.service-section {
	margin-top:25px;
	margin-bottom:25px;
}
.service-section h1 {
	font-size:25px;
}


/* Middle section styles */
.middle-section{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.mid-container {
	border:1px solid black;
	background-color:lightgray;
	width:46%;
	margin-bottom:25px;
	margin-top:25px;
	padding:25px;
}
.mid-container p {
	margin-bottom:15px;
}
.mid-container button{
	text-align:center;
	border-radius:8px;
	border-color:black;
}


/* Facts section styles */
.facts-section {
	display:flex;
	margin-bottom:50px;
	margin-top:40px;
}
.facts-section div {
	width:46%;
	margin-right:65px;
}
.facts-section p {
	margin-bottom:30px;
}
.list-item{
	margin-bottom:10px;
}


/* Border styles */
.border1{
	border:1px solid gray;
	margin-top:25px; 
	margin-bottom:25px;
}
.border2{
	border:1px solid black;
	margin-top:25px;
	margin-bottom:25px;
}


/*
 * *******************
 * Media queries below 
 * *******************
 */


/* Mobile view */
@media(max-width:500px) {
  /* header content */
  header {
    flex-direction:column-reverse;
    align-items: center;
  }
  header nav {
    flex-direction:column;
    width:100%;
    align-items:center;
  }
  header nav a {
    width:100%;
    padding: 2% 0;
    font-size:2rem;
    color: gray;
    border-top:1px solid black;
  }
  header nav a:last-child {
    border-bottom:1px solid black;
  }
  .logo {
    width:25%;
  }

  /* Section 1 content */
  .one {
    justify-content:center;
  }
  .innovate h1 {
    font-size:9rem;
  }
  .innovate button {
    font-size:1rem;
    border:1px solid black;
    background-color:white;
  }

  /* hide top content section image */
  .code-img {
    display:none;
  }

  /* Section 2 content */
  .two {
    flex-direction:column;
  }

  /* Mobile container divs */
  .mobile {
    padding:2%;
    font-size:2rem;
    margin-top:6%;
  }

  /* Middle image  */
  .middle-image {
    width:100%;
    padding:4%;
  }

  /* Section 3 content */
  .three {
    flex-direction:column;
  }

  /* Footer content */
  footer {
    font-size:2rem;
    margin-top:2%;
  }

  /* copyright */
  .copyright {
    margin-top:5%;
  }
}


  /* Tablet view */

@media(max-width:800px) {
  body {
    max-width:100%;
    margin:0 auto;
  }

  /* header styles */
  header {
    flex-direction:column-reverse;
    align-items: center;
  }
  .logo {
    padding:4% 0;
  }
  header nav {
    width:100%;
    padding:2%;
    justify-content:space-between;
  }

  /* hide top content section image */
  .code-img {
    display:none;
  }

  /* Section 1 content */
  .one {
    justify-content:center;
  }
  .innovate h1 {
    font-size:4rem;
  }
  .innovate button {
    font-size:0.8rem;
    border:1px solid black;
    background-color:white;
  }

  /* Section 2 content */
  .two {
    width:100%;

  }

  /* Services mid section */
  .middle-section {
    /* flex- */
  }

  /* Tablet container divs */
  .tablet{
    padding:1%;
  }

  /* Footer content */
  footer {
    font-size:1rem;
    margin:2%;
  }

  /* copyright */
  .copyright {
    margin-top:5%;
  }
}



